.body{
    color: rgb(255, 255, 255);
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #081ddb, #000000, #480ada);
    background-size: 300% 300%;
    animation: gradientAnimation 2s infinite alternate;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%;}
}


.title{
    text-align: center;
    background: linear-gradient(120deg, rgb(212, 11, 11), rgba(238, 130, 6, 0.8), rgba(255, 240, 24, 0.2));
    transform: skewX(0deg);
    animation: shine 4s infinite;
}

@keyframes shine {
    0% {
        left: -100%;

    }
    100% {
        left: 100%;
    }
}

.column {
    float: left;
    width: 15%;
    padding: 4px;
    border-radius: 67px;
    margin-left: 10px;
    padding-left: 30px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.about {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-sizing: border-box;
    width:10%;
    text-align: center;

}