.a:link {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(255, 0, 0);
}

a:visited {
    color: rgb(255, 255, 255);
}

a:active {
    color: rgb(255, 255, 255);
}

.body {
    background-color: black;
}

h1 {
    color: white;
}